/*Stephen Silverstein
https://github.com/sjsilverstein*/
* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: Sans-Serif;	
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/*	This is my current favorite CSS reset. It handles all the essentials, and ensures relatively universal default browser-style uniformity.*/
p{
	font-size: 80%;
}
h3{
	color: #E8C639;
	font-style: italic;
	font-size: 150%;
}
h4{
	color: #FFFFFF;
	margin: 5px 0px 15px 0px;
}
#wrapper{
	margin: auto;
	background-color: #245076;
	width: 970px;
}
.header{
	width: 100%;
	color: #FFFFFF;
	padding: 10px 0px 0px 0px;
}
.headertext{
	text-align: right;	
}
.header p{
	margin-top: 10px;
	margin-right: 40px;
}
.headertext a{
	color: #D4B300;
}
.logo{
	margin-left: 2%;
	align-self: left;
	display: inline-block;
	width: 35%;
}
.logo img{
	max-width: 100%;
	max-height:100%;
	width: 100%;
}
.searchbar{
	vertical-align: top;
	border: 10px solid #444444;
	border-radius: 8px;
	display: inline-block;
	margin: 10px 0px 0px 280px;
	width: 30%;
	background-color: #444444;
	box-shadow: 3px 3px black;
}
.searchbar-input{
	width: 80%;
	text-align: center;
	padding: 8px 0px;
}
.searchbar button{
	background-color: #255076;
	margin: 5px 8px 5px 8px;
	border: 2px solid gray;
	border-radius: 2px;
	padding: 3px 8px 3px 8px;
	box-shadow: 1px 1px black;
	color: #FFFFFF;
	font-size: 80%;
}


.nav{
	width: 80%;
	margin: 0 0 0 10%;
	padding: 8px 0 8px 0;
	background-color: #437DAD;
	border: 2px solid #437DAD;
	border-radius: 8px;
	box-shadow: 3px 3px black;
}
.nav a{
	color: #FFFFFF;
	width: 10%;
	text-align: center;
	text-decoration: none;
	font-size: 150%;
	margin: 0px 0% 0px 3%;
}
.main{
	width: 100%;
}
.topcontent{
	width: 100%;
	/*text-align: center;*/
}
.listsidebar{
	margin: 0px 0px 10px 0px;
	padding: 40px 0px 10px 0px;
	list-style-position: inside; 
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 20%;
}
.listsidebar ul li{
	list-style-type: none;
	margin: 0px 0px 6px 0px;
}
.listsidebar ul li a{
	color: #FFFFFF;	
}
.listsidebar ul li:before{
	color: #B9AA47;
	content: "\00BB \0020";
}
.maintext{
	text-align: center;
	display: inline-block;
	width: 70%
}
.maintext p{
	color: #FFFFFF;
	margin: 20px auto;
}
.bottomcontent{

	background-color: #FFFFFF;
	width: 100;
	padding: 0px 0px 0px 15%;
}
.content{
	border-top: 4px solid #81B0D9;
	vertical-align: top;
	display: inline-block;
	width: 37%;
	margin: 10px 5% 0px 0px;
	text-align: center;
	padding: 5px 5% 0 0;
}
.content h2{
  font-weight: bold;
}
.content p a{
	color: #99BEE0;
	text-decoration: none;
}
.content ul{
	margin: 5px 0 0 0;
    list-style-type: square;
}
.content ul li{
	margin: 0px 0px 0px 15%;
}
.content ul li a{
	color: #99BEE0;
	text-decoration: none;
	font-size: 80%;
}
.footer{
	background: linear-gradient(#26557D, #3373AA);
	text-align: center;
	color: #74A7D4;
}
.footer h1{
	margin: 40px 2% 0 2%;
	display: inline-block;
	font-size: 110%;
}
.footer h2{
	font-size: 65%;
	margin: 0 0 5px 0;
}